{% extends "base.html" %}
{% block title %}User Details{% endblock %}
{% block content %}
    <h1>{{ user.get_full_name() }}</h1>
    <img src="{{ user.image_url }}" alt="User Image">
    <a href="/users/{{ user.id }}/edit">Edit</a>
    
    <form method="POST" action="/users/{{ user.id }}/delete">  <!-- Corrected 'actions' to 'action' -->
        <button type="submit">Delete</button>
    </form>

    <h2>Posts</h2>
    <ul>
        {% for post in user.posts %}
        <li>
            <a href="/posts/{{ post.id }}">{{ post.title }}</a>
            ({{ post.created_at.strftime("%B %d, %Y, %I:%M %p") }})
        </li>
        {% endfor %}
    </ul>

    <a href="/users/{{ user.id }}/posts/new">Add New Post</a>
{% endblock %}
